services:
  api:
    build: .
    ports:
      - "3333:3333"
    environment:
      NODE_ENV: production
      PORT: 3333
      DATABASE_URL: 'postgresql://neondb_owner:npg_41GoEKCxzYbQ@ep-round-sky-a4s1pz5c-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
      JWT_SECRET: "6b3e97..."
      CORS_ORIGIN: "http://localhost:3333,http://localhost:19006,https://cafeterias-api.onrender.com"
      RENDER_EXTERNAL_URL: "https://cafeterias-api.onrender.com"
      REQUEST_BODY_LIMIT: "15mb"
      UPLOAD_STRATEGY: "local"